Root(
    protocol: (
        name: "1.15.2",
        id: 578,
    ),
    types: {
        // --- Handshake ---
        
        // -- Serverbound --
        "handshake": Struct({
            "protocol_version": VarInt,
            "server_address": String,
            "server_port": U16,
            "next_state": Custom(Enum(
                name: "state",
                tag: VarInt,
                variants: {
                    1: (name: "status"),
                    2: (name: "login"),
                }
            )),
        }),

        // --- Login ---

        // -- Clientbound --
        "disconnect": Struct({
            "reason": String,
        }),
        "encryption_request": Struct({
            "server_id": String,
            "public_key": Array(U8, Prefixed(VarInt)),
            "verify_token": Array(U8, Prefixed(VarInt)),
        }),
        "login_success": Struct({
            "uuid": String,
            "username": String,
        }),
        "set_compression": Struct({
            "threshold": VarInt,
        }),
        "login_plugin_request": Struct({
            "message_id": VarInt,
            "channel": String,
            "data": Array(U8, Inferred),
        }),
        
        // -- Serverbound --
        "login_start": Struct({
            "client_username": String,
        }),
        "encryption_response": Struct({
            "shared_secret": Array(U8, Prefixed(VarInt)),
            "verify_token": Array(U8, Prefixed(VarInt)),
        }),
        "login_plugin_response": Struct({
            "message_id": VarInt,
            "data": Option(Array(U8, Inferred), Prefixed(Bool)),
        }),
    },
    packets: {
        "login": {
            "clientbound": {
                "disconnect": Packet(id: 0x00),
                "encryption_request": Packet(id: 0x01),
                "login_success": Packet(id: 0x02),
                "set_compression": Packet(id: 0x03),
                "login_plugin_request": Packet(id: 0x04),
            },
            "serverbound": {
                "login_start": Packet(id: 0x00),
                "encryption_response": Packet(id: 0x01),
                "login_plugin_response": Packet(id: 0x02),
            }
        }
    }
)